<div class='body-content' *ngIf="readyToLoadApp">
    <ngx-spinner
        size="medium"
        fullScreen="true"
        type="cog">
    </ngx-spinner>
    <app-nav-menu></app-nav-menu>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
