<!--Image slideshow-->
<ng-template #imageSlideshow>
    <div *ngIf="getListingPictures().length === 0">
        <h4>No image available (Replace with better text)</h4>
    </div>
    <!--Listing Pictures Panel-->
    <ngb-carousel
        *ngIf="getListingPictures().length > 0"
        [interval]="'0'"
        [keyboard]="true"
        [pauseOnHover]="true"
        [showNavigationArrows]="true"
        [showNavigationIndicators]="true">
        <ng-template *ngFor="let pic of getListingPictures();" ngbSlide>
            <img class="listing-pic" [src]="pic.imageUrl" [alt]="pic.imageDescription">
            <a class="fa fa-2x fa-trash-o delete-pic-btn topright"
               *ngIf="isEditable"
               (click)="onDeletePictureClick(pic.imageId)"></a>
            <div class="carousel-caption">
                {{ pic.imageDescription }}
            </div>
        </ng-template>
    </ngb-carousel>
    <input type="file"
           class="upload-image-btn"
           *ngIf="isEditable"
           [multiple]="true"
           [accept]="supportedImageFormats"
           (change)="onImageFileSelected($event)">
</ng-template>

<div class="modal-header">
    <h4 class="modal-title">Modify Listing</h4>
    <a class="fa fa-bolt" (click)="onGoToListingClick()"></a>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--Row-->
    <div class="row">
        <!--Form box-->
        <div class="form-box" [ngClass]="{
             'col-md-6': !isWindowWidthSmallerThanDesktop(),
             'col-md-12': isWindowWidthSmallerThanDesktop()
             }">
            <form [formGroup]="aptComplexModifyForm" #modifyForm>
                <ngb-accordion #modifyListingAccording="ngbAccordion"
                               [closeOthers]="true"
                               activeIds="listing-details-panel">
                    <!--Listing Details Panel-->
                    <ngb-panel title="Listing Details" id="listing-details-panel">
                        <ng-template ngbPanelContent>
                            <div formGroupName="listing" class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="listingActive"
                                           id="listingActive">
                                    <label for="listingActive" class="form-check-label">Listing Active?</label>
                                </div>
                                <h4 class="mt-3">Address</h4>
                                <hr>
                                <div class="form-group">
                                    <label for="displayOrder">Display Order</label>
                                    <input type="number" class="form-control" formControlName="displayOrder"
                                           id="displayOrder">

                                    <label for="apartmentName">Apartment Name</label>
                                    <input class="form-control" type="text" formControlName="apartmentName"
                                           id="apartmentName">

                                    <label for="apartmentAddress">Apartment Address</label>
                                    <input class="form-control" type="text" formControlName="apartmentAddress"
                                           id="apartmentAddress">

                                    <label for="apartmentUrl">Apartment URL</label>
                                    <input type="url" class="form-control" formControlName="apartmentUrl"
                                           id="apartmentUrl">

                                    <label for="apartmentDescription">Description</label>
                                    <textarea class="form-control" formControlName="apartmentDescription"
                                              id="apartmentDescription"></textarea>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!--Contact Details Panel-->
                    <ngb-panel title="Contact Details" id="contact-details-panel">
                        <ng-template ngbPanelContent>
                            <a class="fa fa-address-book" (click)="onGoToAdminContactClick()"></a>
                            <div formGroupName="listingContact" class="form-group listing-details-box">
                                <ng-container *ngIf="isEditable">
                                    <label for="contactSelect">Contacts</label>
                                    <select class="form-control" id="contactSelect"
                                            [value]="aptComplexModifyForm?.controls.listing.value.contactDetailsId"
                                            (change)="onSelectContact($event.target.value)">
                                        <option *ngFor="let contact of contacts" [value]="contact.contactId">
                                            {{ contact.name }} - {{ contact.primaryPhone }} - {{ contact.email }}
                                        </option>
                                    </select>
                                </ng-container>

                                <label for="contactName">Contact Name</label>
                                <input class="form-control" type="text" formControlName="name" id="contactName">

                                <label for="contactPrimaryPhone">Contact Primary Phone</label>
                                <input class="form-control" type="text" formControlName="primaryPhone"
                                       id="contactPrimaryPhone">

                                <label for="contactSecondaryPhone">Contact Secondary Phone</label>
                                <input class="form-control" type="text" formControlName="secondaryPhone"
                                       id="contactSecondaryPhone">

                                <label for="contactEmail">Contact Email</label>
                                <input class="form-control" type="text" formControlName="email" id="contactEmail">
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Location" id="location-details-panel">
                        <ng-template ngbPanelContent>
                            <div formGroupName="listingLocation" class="form-group" *ngIf="isEditable">
                                <div class="row">
                                    <div class="col">
                                        <label for="location-latitude">Latitude</label>
                                        <input class="form-control" id="location-latitude" formControlName="latitude">
                                    </div>
                                    <div class="col">
                                        <label for="location-longitude">Longitude</label>
                                        <input class="form-control" id="location-longitude" formControlName="longitude">
                                    </div>
                                </div>

                                <button class="btn btn-outline-primary my-3"
                                        (click)="geocodeAddress(aptComplexModifyForm.controls.listing.value)">
                                    Translate Address to Coordinates
                                </button>
                                <a class="btn btn-outline-info my-3 float-right" target="_blank"
                                   [href]="formatAddressHref(aptComplex)">
                                    View Location
                                </a>
                            </div>
                            <div class="form-group" *ngIf="!isEditable">
                                <a class="btn btn-outline-info my-3 float-left" target="_blank"
                                   [href]="formatAddressHref(aptComplex)">
                                    View Location
                                </a>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!--Listing pictures panel-->
                    <ngb-panel title="Listing Pictures" id="listing-pictures-panel"
                               *ngIf="(getListingPictures().length > 0 || isEditable) && isWindowWidthSmallerThanDesktop()">
                        <ng-template ngbPanelContent>
                            <ng-container [ngTemplateOutlet]="imageSlideshow"></ng-container>
                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
            </form>
        </div>

        <!--End form box-->
        <div class="col-md-6 pictures-box" *ngIf="!isWindowWidthSmallerThanDesktop()">
            <ng-container [ngTemplateOutlet]="imageSlideshow"></ng-container>
        </div>
        <!--End row-->
    </div>
</div>
<div class="modal-footer">
    <div *ngIf="isEditable">
        <button type="button" class="genric-btn danger radius mx-1"
                [disabled]="shouldSubmitButtonBeDisabled()"
                (click)="onSubmitClick()">
            Submit
        </button>
        <button type="button" class="genric-btn success radius mx-1"
                [disabled]="shouldRevertButtonBeDisabled()"
                (click)="onRevertClick()">
            Revert
        </button>
    </div>
    <div *ngIf="!isEditable">
        <button type="button" class="genric-btn info radius mx-1" (click)="activeModal.dismiss('dismiss')">
            Close
        </button>
    </div>
</div>
