<!--Confirm changes-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Save changes?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--TODO: Display added/deleted images' listings-->
        <div class="my-2" *ngIf="differences.length">
            <h4>Changed Apartment Complexes</h4>
            <hr>
            <ng-container *ngFor="let diff of computeChangedListings();">
                <div *ngIf="diff">
                    <div *ngIf="diff.aptComplex">
                        <button class="btn btn-outline-primary mx-1"
                                (click)="openReadonlyModalFromId(diff?.aptComplex.listingId)">
                            Listing Id: {{ diff?.aptComplex.listingId }}
                        </button>
                    </div>
                    <div *ngIf="diff.listingLocation">
                        <button class="btn btn-outline-primary mx-1"
                                (click)="openReadonlyModalFromId(diff?.listingLocation.listingId)">
                            Listing Id: {{ diff?.listingLocation.listingId }}
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="my-2" *ngIf="toDelete.complexes.length">
            <h4>Listings to Delete</h4>
            <hr>
            <ng-container *ngFor="let id of toDelete.complexes;">
                <button class="btn btn-outline-danger mx-1" (click)="openReadonlyModalFromId(id)">Listing
                    Id: {{ id }}</button>
            </ng-container>
        </div>

        <div class="my-2" *ngIf="toAdd.complexes.length">
            <h4>Listings to be Added</h4>
            <hr>
            <ng-container *ngFor="let cl of toAdd.complexes; let idx = index;">
                <button class="btn btn-outline-success mx-1" (click)="openReadonlyModalFor(cl)">New
                    Listing {{ idx }}</button>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="genric-btn primary radius mx-1" (click)="modal.close('save')">Save</button>
        <button type="button" class="genric-btn success radius mx-1" (click)="modal.dismiss('revert')">Revert All
            Changes
        </button>
    </div>
</ng-template>

<section class="service-area section-gap" *ngIf="readyToLoadPage">
    <div class="container">
        <div class="text-heading text-center">Apartment Complex update</div>
        <ag-grid-angular
            #complexesGrid
            class="ag-theme-bootstrap listings-grid"
            [gridOptions]="gridOptions"
            [rowData]="complexes"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
        <div class="my-1">
            <button class="genric-btn danger radius mx-1"
                    [disabled]="!isThereAChange()"
                    (click)="onSaveChangesClick(content)">Save Changes
            </button>
            <button class="genric-btn success radius mx-1" (click)="onAddNewListingClick()">
                Add New Apartment Complex
            </button>
        </div>
    </div>
</section>
