<section class="service-area section-gap" *ngIf="listing">
    <div class="container listing-details">
        <div class="text-heading text-center">{{ formatAddress(listing) }}</div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col text-dark"> Listing Status</div>
                    <div class="col">
                        <div class="badge"
                             [ngClass]="{'badge-primary': listing.listing.listingActive, 'badge-secondary': !listing.listing.listingActive}"> {{ formatListingActive(listing) }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-dark">
                        Address
                        <a class="fa fa-external-link" target="_blank" [href]="formatAddressMapLink(listing)"></a>
                    </div>
                    <div class="col"> {{ formatAddress(listing) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Unit Type</div>
                    <div class="col"> {{ formatUnitType(listing) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Bedrooms (Open/Total)</div>
                    <div class="col"> {{ formatBedrooms(listing) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Amount (Rent/Security)</div>
                    <div class="col"> {{ formatAmounts(listing) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Date Listed</div>
                    <div class="col"> {{ formatDate(listing.listing.dateListed) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Date Available</div>
                    <div class="col"> {{ formatDate(listing.listing.dateAvailable) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Listing Expires</div>
                    <div class="col"> {{ formatDate(listing.listing.dateExpiry) }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Lease Length in months</div>
                    <div class="col"> {{ listing.listing.leaseLengthMonths }} </div>
                </div>
                <div class="row" *ngFor="let amenity of formatAmenities(listing);">
                    <div class="col text-dark">{{ amenity.amenity }}</div>
                    <div class="col">
                        <div class="badge"
                             [ngClass]="{'badge-success': amenity.value, 'badge-danger': !amenity.value}">
                            {{ amenity.value }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Comments</div>
                    <div class="col"> {{ listing.listing.comments }} </div>
                </div>
                <div class="row">
                    <div class="col text-dark">Contact Details</div>
                    <div class="col">
                        <div class="row">
                            {{ listing.listingContact.name }}
                        </div>
                        <div class="row">
                            {{ listing.listingContact.primaryPhone }}
                        </div>
                        <div class="row">
                            {{ listing.listingContact.secondaryPhone }}
                        </div>
                        <div class="row">
                            <a [href]="formatEmailHref(listing.listingContact.email)"> {{ listing.listingContact.email }} </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div *ngIf="listing.listingPictures.length === 0">
                    <h4>No image available (Replace with better text)</h4>
                </div>
                <ngb-carousel
                    *ngIf="listing.listingPictures.length > 0"
                    [interval]="'0'"
                    [keyboard]="true"
                    [pauseOnHover]="true"
                    [showNavigationArrows]="true"
                    [showNavigationIndicators]="true">
                    <ng-template *ngFor="let pic of listing.listingPictures;" ngbSlide>
                        <img class="listing-pic" [src]="pic.imageUrl" [alt]="pic.imageDescription">
                        <div class="carousel-caption">
                            {{ pic.imageDescription }}
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>
