<header class="default-header sticky-header">
    <nav class="navbar navbar-expand-lg  navbar-light bg-light" style="position: sticky;">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="img/UB_BLU_RGB.png" alt="" class="ub-logo-img">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    (click)="navbarIsCollapsed = !navbarIsCollapsed"
                    [attr.aria-expanded]="!navbarIsCollapsed"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center"
                 [ngbCollapse]="navbarIsCollapsed"
                 id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">Search</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/advertise']">Advertise</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/roommates']">Roommates</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/resources']">Resources</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/contact-us']">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
