/* Bootstrap overrides */
.section-gap {
    padding: 20px 0 25px 0;
}

.card-deck .card {
    max-width: 350px;
    min-width: 270px;
    height: 30%;
}

/* End Bootstrap overrides */

.agm-map-styles {
    height: 100%;
}

.result-box {
    height: calc(100vh - 180px);
    width: auto;
    padding: 0px 5px 0px 5px;
    margin: 0 0 0 0;
}

.card-box,
.map-box {
    padding-left: 0;
    padding-right: 0;
    height: inherit;
}

.card-box {
    margin: 0 0 0 0;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.listing-modify-modal-window-class .modal-dialog {
    max-height: calc(100vh - 50px);
    max-width: 90%;
    width: 80%;
}
