<section class="service-area section-gap">
    <div class="row result-box">
        <div class="col-6 map-box" *ngIf="!isWindowWidthSmallerThanDesktop()">
            <app-search-results-map [hoverOverListingId]="hoverOverListingId">

            </app-search-results-map>
        </div>
        <div class="card-deck card-box"
             [ngClass]="{
             'col-6': !isWindowWidthSmallerThanDesktop(),
             'col-12': isWindowWidthSmallerThanDesktop()
             }">
            <ng-container
                *ngFor="let listing of resultListings; let idx = index;">
                <div class="card my-2"
                     (mouseenter)="debouncedListingMouseEnter(listing)">
                    <div class="card-body">
                        <h4 class="card-title">{{ formatListingName(listing) }}</h4>
                        <h6 class="card-subtitle text-muted">{{ formatUnitType(listing) }}</h6>
                        <div class="card-text">
                            {{ formatAmounts(listing) }}
                            <br>
                            {{ formatBedrooms(listing) }}
                        </div>
                        <a class="btn btn-outline-primary" (click)="onListingClick(listing)">View</a>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-none" *ngIf="idx !== 0 && ((idx % 2) === 0)"></div>
            </ng-container>
        </div>
    </div>
</section>
