<agm-map
    #searchResultsMap
    class="agm-map-styles"
    [usePanning]="true"
    [latitude]="MapLat"
    [longitude]="MapLon"
    [keyboardShortcuts]="false"
    [streetViewControl]="false"
    [zoom]="15">
    <ng-container *ngFor="let loc of searchService.searchResults">
        <agm-marker
            [latitude]="loc.listingLocation.latitude"
            [longitude]="loc.listingLocation.longitude"
            [label]="loc.listing.streetName[0]"
            [markerDraggable]="false"
            [openInfoWindow]="true">
            <agm-info-window>
                Address: {{ formatAddress(loc) }}
            </agm-info-window>
        </agm-marker>
    </ng-container>
</agm-map>
