<!--Confirm changes-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Save changes?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="differences.length">
            <p>Changed Contacts</p>
            <ng-container *ngFor="let diff of differences;">
                <div *ngIf="diff">
                    <button class="btn btn-outline-primary" (click)="openReadonlyModalFromId(diff?.contactId)">Contact
                        Id: {{ diff?.listing.listingId }}</button>
                </div>
            </ng-container>
        </div>

        <div *ngIf="contactIdsToDelete.length">
            <p>Contacts to Delete</p>
            <ng-container *ngFor="let id of contactIdsToDelete;">
                <button class="btn btn-outline-danger" (click)="openReadonlyModalFromId(id)">Contact
                    Id: {{ id }}</button>
            </ng-container>
        </div>

        <div *ngIf="contactsToAdd.length">
            <p>Listings to be Added</p>
            <ng-container *ngFor="let cl of contactsToAdd; let idx = index;">
                <button class="btn btn-outline-success" (click)="openReadonlyModalFor(cl)">New
                    Contact {{ idx }}</button>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="genric-btn primary radius mx-1" (click)="modal.close('save')">Save</button>
        <button type="button" class="genric-btn success radius mx-1" (click)="modal.dismiss('revert')">Revert All Changes</button>
    </div>
</ng-template>

<section class="service-area section-gap" *ngIf="readyToLoadPage">
    <div class="container">
        <div class="text-heading text-center">Contact update</div>
        <ag-grid-angular
            #contactsGrid
            class="ag-theme-bootstrap contacts-grid"
            [gridOptions]="gridOptions"
            [rowData]="contacts"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular>

        <button class="genric-btn danger radius mx-1"
                [disabled]="!differences.length && !contactIdsToDelete.length && !contactsToAdd.length"
                (click)="onSaveChangesClick(content)">Save Changes
        </button>
        <button class="genric-btn success radius mx-1" (click)="onAddNewContactClick()">Add New Contact</button>
    </div>
</section>
