/* Bootstrap overrides */
.section-gap {
    padding: 20px 0 25px 0;
}

/* End Bootstrap overrides */

.contacts-grid {
    height: 500px;
}

.contacts-grid .mark-for-deletion {
    background-color: indianred;
    text-decoration: line-through;
}

