<div class="modal-header">
    <h4 class="modal-title">Modify Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="contactModifyForm" #modifyForm>
        <ngb-accordion #modifyListingAccording="ngbAccordion"
                       [closeOthers]="true"
                       activeIds="listing-details-panel">
            <!--Contact Details Panel-->
            <ngb-panel title="Contact Details" id="listing-details-panel">
                <ng-template ngbPanelContent>
                    <label for="name">Contact Name</label>
                    <input class="form-control" type="text" formControlName="name" id="name">

                    <label for="primaryPhone">Primary Phone</label>
                    <input class="form-control" type="text" formControlName="primaryPhone" id="primaryPhone">

                    <label for="secondaryPhone">Secondary Phone</label>
                    <input class="form-control" type="text" formControlName="secondaryPhone" id="secondaryPhone">

                    <label for="email">Contact Email</label>
                    <input class="form-control" type="email" formControlName="email" id="email">
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </form>
</div>
<div class="modal-footer">
    <div *ngIf="isEditable">
        <button type="button" class="genric-btn danger radius mx-1"
                [disabled]="contactModifyForm.pristine || !contactModifyForm.valid" (click)="onSubmitClick()">Submit
        </button>
        <button type="button" class="genric-btn success radius mx-1" [disabled]="contactModifyForm.pristine"
                (click)="onRevertClick()">Revert
        </button>
    </div>
    <div *ngIf="!isEditable">
        <button type="button" class="genric-btn info radius mx-1" (click)="activeModal.dismiss('dismiss')">Close
        </button>
    </div>
</div>
