/* Bootstrap overrides */
.section-gap {
    padding: 20px 0 25px 0;
}

/* End Bootstrap overrides */

.listings-grid {
    height: 500px;
}

.listings-grid .mark-for-deletion {
    background-color: indianred;
    text-decoration: line-through;
}

.listing-modify-modal-window-class .modal-dialog {
    max-height: calc(100vh - 50px);
    max-width: 90%;
    width: 80%;
}
