<!--Confirm changes-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Save changes?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--TODO: Display added/deleted images' listings-->
        <div *ngIf="differences.length">
            <p>Changed listings</p>
            <ng-container *ngFor="let diff of differences;">
                <div *ngIf="diff">
                    <div *ngIf="diff.listing">
                        <button class="btn btn-outline-primary"
                                (click)="openReadonlyModalFromId(diff?.listing.listingId)">
                            Listing Id: {{ diff?.listing.listingId }}
                        </button>
                    </div>
                    <div *ngIf="diff.listingLocation">
                        <button class="btn btn-outline-primary"
                                (click)="openReadonlyModalFromId(diff?.listingLocation.listingId)">
                            Listing Id: {{ diff?.listingLocation.listingId }}
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="toDelete.listings.length">
            <p>Listings to Delete</p>
            <ng-container *ngFor="let id of toDelete.listings;">
                <button class="btn btn-outline-danger" (click)="openReadonlyModalFromId(id)">Listing
                    Id: {{ id }}</button>
            </ng-container>
        </div>

        <div *ngIf="toAdd.listings.length">
            <p>Listings to be Added</p>
            <ng-container *ngFor="let cl of toAdd.listings; let idx = index;">
                <button class="btn btn-outline-success" (click)="openReadonlyModalFor(cl)">New
                    Listing {{ idx }}</button>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="genric-btn primary radius mx-1" (click)="modal.close('save')">Save</button>
        <button type="button" class="genric-btn success radius mx-1" (click)="modal.dismiss('revert')">Revert All Changes</button>
    </div>
</ng-template>

<section class="service-area section-gap" *ngIf="readyToLoadPage">
    <div class="container">
        <div class="text-heading text-center">Listing update</div>
        <ag-grid-angular
            #listingsGrid
            class="ag-theme-bootstrap listings-grid"
            [gridOptions]="gridOptions"
            [rowData]="listings"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
        <div class="my-1">
            <button class="genric-btn danger radius mx-1"
                    [disabled]="!isThereAChange()"
                    (click)="onSaveChangesClick(content)">Save Changes
            </button>
            <button class="genric-btn success radius mx-1" (click)="onAddNewListingClick()">Add New Listing</button>
        </div>
    </div>
</section>
