/*Bootstrap overrides*/
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(div):not(form) {
    border-left: 5px solid #a94442; /* red */
}

.modal-body {
    /*height: 600px;*/
    /*overflow-y: scroll;*/
}

/*End bootstrap overrides*/

.listing-pic {
    max-height: 90%;
    /*height: 400px;*/
    width: 100%;
}

.delete-pic-btn {
    cursor: crosshair;
}

.topright {
    position: absolute;
    top: 5px;
    right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 50%;
    margin-top: 20%;
}

.form-box {
    height: calc(100vh - 225px);
    overflow-y: scroll;
}

.upload-image-btn {
    position: absolute;
    bottom: 1%;
}
