<!--Image slideshow-->
<ng-template #imageSlideshow>
    <div *ngIf="getListingPictures().length === 0">
        <h4>No image available (Replace with better text)</h4>
    </div>
    <!--Listing Pictures Panel-->
    <ngb-carousel
        *ngIf="getListingPictures().length > 0"
        [interval]="'0'"
        [keyboard]="true"
        [pauseOnHover]="true"
        [showNavigationArrows]="true"
        [showNavigationIndicators]="true">
        <ng-template *ngFor="let pic of getListingPictures();" ngbSlide>
            <img class="listing-pic" [src]="pic.imageUrl" [alt]="pic.imageDescription">
            <a class="fa fa-2x fa-trash-o delete-pic-btn topright"
               *ngIf="isEditable"
               (click)="onDeletePictureClick(pic.imageId)"></a>
            <div class="carousel-caption">
                {{ pic.imageDescription }}
            </div>
        </ng-template>
    </ngb-carousel>
    <input type="file"
           class="upload-image-btn"
           *ngIf="isEditable"
           [multiple]="true"
           [accept]="supportedImageFormats"
           (change)="onImageFileSelected($event)">
</ng-template>

<div class="modal-header">
    <h4 class="modal-title">Modify Listing</h4>
    <a class="fa fa-bolt" (click)="onGoToListingClick()"></a>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--Row-->
    <div class="row">
        <!--Form box-->
        <div class="form-box" [ngClass]="{
             'col-md-6': !isWindowWidthSmallerThanDesktop(),
             'col-md-12': isWindowWidthSmallerThanDesktop()
             }">
            <form [formGroup]="listingModifyForm" #modifyForm>
                <ngb-accordion #modifyListingAccording="ngbAccordion"
                               [closeOthers]="true"
                               activeIds="listing-details-panel">
                    <!--Listing Details Panel-->
                    <ngb-panel title="Listing Details" id="listing-details-panel">
                        <ng-template ngbPanelContent>
                            <div formGroupName="listing" class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="listingActive"
                                           id="listingActive">
                                    <label for="listingActive" class="form-check-label">Listing Active?</label>
                                </div>

                                <h4 class="mt-3">Address</h4>
                                <hr>
                                <div class="form-group">
                                    <label for="streetNumber">Street Number</label>
                                    <input class="form-control" type="number" formControlName="streetNumber"
                                           id="streetNumber">

                                    <label for="streetName">Street Name</label>
                                    <input class="form-control" type="text" formControlName="streetName"
                                           id="streetName">

                                    <!--Locality is just the area in a certain postal code-->
                                    <!--NOT SOMETHING LIKE Buffalo, Tonawanda, etc.-->
                                    <!--Disabling this, as it is set by postal code-->
                                    <label for="locality">Locality</label>
                                    <input class="form-control" type="text" formControlName="locality" id="locality">

                                    <!--Postal code needs to be unique from the DB-->
                                    <label for="postalCode">Postal Code</label>
                                    <select class="form-control" formControlName="postalCode" id="postalCode"
                                            (change)="onSelectLocality($event.target.value)">
                                        <option *ngFor="let locality of localities" [value]="locality.postalCode">
                                            {{ locality.name }} - {{ locality.postalCode }}
                                        </option>
                                    </select>

                                    <label for="apartmentNumber">Apartment Number</label>
                                    <input class="form-control" type="number" formControlName="apartmentNumber"
                                           id="apartmentNumber">

                                    <label for="unitType">Unit Type</label>
                                    <select class="form-control" formControlName="unitType" id="unitType"
                                            (change)="onSelectUnitType($event.target.value)">
                                        <option *ngFor="let unitType of unitTypes" [value]="unitType.unitTypeId">
                                            {{ unitType.unitTypeName }}
                                        </option>
                                    </select>

                                    <label for="bedroomsTotal">Total Bedrooms</label>
                                    <input class="form-control" type="number" formControlName="bedroomsTotal"
                                           id="bedroomsTotal">

                                    <label for="bedroomsAvailable">Available Bedrooms</label>
                                    <input class="form-control" type="number" formControlName="bedroomsAvailable"
                                           id="bedroomsAvailable">

                                    <label for="dateAvailable">Available From</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="YYYY-MM-DD"
                                               formControlName="dateAvailable"
                                               id="dateAvailable"
                                               (dateSelect)="onDateSelect('dateAvailable', $event)" ngbDatepicker
                                               #dA="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary fa fa-calendar"
                                                    (click)="dA.toggle()"
                                                    type="button"></button>
                                        </div>
                                    </div>

                                    <label for="dateListed">Listed On</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="YYYY-MM-DD"
                                               formControlName="dateListed"
                                               id="dateListed"
                                               (dateSelect)="onDateSelect('dateListed', $event)" ngbDatepicker
                                               #dL="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary fa fa-calendar"
                                                    (click)="dL.toggle()"
                                                    type="button"></button>
                                        </div>
                                    </div>

                                    <label for="dateExpiry">Date Listing Expires</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="YYYY-MM-DD"
                                               formControlName="dateExpiry"
                                               id="dateExpiry"
                                               (dateSelect)="onDateSelect('dateExpiry', $event)" ngbDatepicker
                                               #dE="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary fa fa-calendar"
                                                    (click)="dE.toggle()"
                                                    type="button"></button>
                                        </div>
                                    </div>

                                    <label for="leaseLengthMonths">Lease Length in Months</label>
                                    <input class="form-control" type="number" formControlName="leaseLengthMonths"
                                           id="leaseLengthMonths">

                                    <label for="amtRent">Rent (per month)</label>
                                    <input class="form-control" type="number" formControlName="amtRent" id="amtRent">

                                    <label for="amtSecurity">Security Deposit</label>
                                    <input class="form-control" type="number" formControlName="amtSecurity"
                                           id="amtSecurity">

                                </div>
                                <!--Amenities-->
                                <h4 class="mt-3">Amenities</h4>
                                <hr>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityHeating"
                                           id="amenityHeating">
                                    <label class="form-check-label" for="amenityHeating">Heating</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityGas"
                                           id="amenityGas">
                                    <label class="form-check-label" for="amenityGas">Gas</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityWater"
                                           id="amenityWater">
                                    <label class="form-check-label"
                                           for="amenityWater">Water</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityElectricity"
                                           id="amenityElectricity">
                                    <label class="form-check-label" for="amenityElectricity">Electricity</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityInternet"
                                           id="amenityInternet">
                                    <label class="form-check-label" for="amenityInternet">Internet Access</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityCable"
                                           id="amenityCable">
                                    <label class="form-check-label" for="amenityCable">Cable
                                        TV</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityStove"
                                           id="amenityStove">
                                    <label class="form-check-label" for="amenityStove">Stove/Burner</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityRefrigerator" id="amenityRefrigerator">
                                    <label class="form-check-label" for="amenityRefrigerator">Refrigerator</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityOffStreetParking" id="amenityOffStreetParking">
                                    <label class="form-check-label" for="amenityOffStreetParking">Off-Street
                                        Parking</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityGarage"
                                           id="amenityGarage">
                                    <label class="form-check-label"
                                           for="amenityGarage">Garage</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityInsulated"
                                           id="amenityInsulated">
                                    <label class="form-check-label" for="amenityInsulated">Insulated</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityGarbageCollection" id="amenityGarbageCollection">
                                    <label class="form-check-label" for="amenityGarbageCollection">Garbage
                                        Collection</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityCentralAc"
                                           id="amenityCentralAc">
                                    <label class="form-check-label" for="amenityCentralAc">Central A/C</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityStormWindows" id="amenityStormWindows">
                                    <label class="form-check-label" for="amenityStormWindows">Storm Windows</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityFurnished"
                                           id="amenityFurnished">
                                    <label class="form-check-label" for="amenityFurnished">Furnished</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityWasher"
                                           id="amenityWasher">
                                    <label class="form-check-label" for="amenityWasher">Washing Machine</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityDryer"
                                           id="amenityDryer">
                                    <label class="form-check-label" for="amenityDryer">Clothes Dryer</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenitySmokeDetectors" id="amenitySmokeDetectors">
                                    <label class="form-check-label" for="amenitySmokeDetectors">Smoke Detectors</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenitySecuritySystem" id="amenitySecuritySystem">
                                    <label class="form-check-label" for="amenitySecuritySystem">Security System</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityExteriorDoorDeadbolt"
                                           id="amenityExteriorDoorDeadbolt">
                                    <label class="form-check-label" for="amenityExteriorDoorDeadbolt">Exterior Door has
                                        Deadbolt</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityFireSafetyCode" id="amenityFireSafetyCode">
                                    <label class="form-check-label" for="amenityFireSafetyCode">Adheres to Fire Safety
                                        Code</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="amenityCoDetectors"
                                           id="amenityCoDetectors">
                                    <label class="form-check-label" for="amenityCoDetectors">Carbon Monoxide (CO)
                                        Detectors</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="amenityElectricalSafetyCode"
                                           id="amenityElectricalSafetyCode">
                                    <label class="form-check-label" for="amenityElectricalSafetyCode">Adheres to
                                        Electrical Safety Code</label>
                                </div>
                                <!--End Amenities-->

                                <h4 class="mt-3">Additional Information</h4>
                                <hr>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="rulesPetsAllowed"
                                           id="rulesPetsAllowed">
                                    <label class="form-check-label" for="rulesPetsAllowed">Are Pets Allowed</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="bedroomsLocatedBasementAttic"
                                           id="bedroomsLocatedBasementAttic">
                                    <label class="form-check-label" for="bedroomsLocatedBasementAttic">Bedroom(s)
                                        located in Basement or Attic</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="verifiedProperty"
                                           id="verifiedProperty">
                                    <label class="form-check-label" for="verifiedProperty">Verified Property</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="certificateOfOccupancy" id="certificateOfOccupancy">
                                    <label class="form-check-label" for="certificateOfOccupancy">Certified for
                                        Occupancy</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="registeredRentalRegistry" id="registeredRentalRegistry">
                                    <label class="form-check-label" for="registeredRentalRegistry">Registered with
                                        Rental Registry</label>
                                </div>
                                <label for="comments">Additional Comments</label>
                                <input class="form-control" type="text" formControlName="comments" id="comments">
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!--Contact Details Panel-->
                    <ngb-panel title="Contact Details" id="contact-details-panel">
                        <ng-template ngbPanelContent>
                            <a class="fa fa-address-book" (click)="onGoToAdminContactClick()"></a>
                            <div formGroupName="listingContact" class="form-group listing-details-box">
                                <ng-container *ngIf="isEditable">
                                    <label for="contactSelect">Contacts</label>
                                    <select class="form-control" id="contactSelect"
                                            [value]="listingModifyForm?.controls.listing.value.contactDetailsId"
                                            (change)="onSelectContact($event.target.value)">
                                        <option *ngFor="let contact of contacts" [value]="contact.contactId">
                                            {{ contact.name }} - {{ contact.primaryPhone }} - {{ contact.email }}
                                        </option>
                                    </select>
                                </ng-container>

                                <label for="contactName">Contact Name</label>
                                <input class="form-control" type="text" formControlName="name" id="contactName">

                                <label for="contactPrimaryPhone">Contact Primary Phone</label>
                                <input class="form-control" type="text" formControlName="primaryPhone"
                                       id="contactPrimaryPhone">

                                <label for="contactSecondaryPhone">Contact Secondary Phone</label>
                                <input class="form-control" type="text" formControlName="secondaryPhone"
                                       id="contactSecondaryPhone">

                                <label for="contactEmail">Contact Email</label>
                                <input class="form-control" type="text" formControlName="email" id="contactEmail">
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Location" id="location-details-panel">
                        <ng-template ngbPanelContent>
                            <div formGroupName="listingLocation" class="form-group" *ngIf="isEditable">
                                <div class="row">
                                    <div class="col">
                                        <label for="location-latitude">Latitude</label>
                                        <input class="form-control" id="location-latitude" formControlName="latitude">
                                    </div>
                                    <div class="col">
                                        <label for="location-longitude">Longitude</label>
                                        <input class="form-control" id="location-longitude" formControlName="longitude">
                                    </div>
                                </div>

                                <button class="btn btn-outline-primary my-3"
                                        (click)="geocodeAddress(listingModifyForm.controls.listing.value)">Translate
                                    Address to Coordinates
                                </button>
                                <a class="btn btn-outline-info my-3 float-right" target="_blank"
                                   [href]="formatAddressHref(listing)">
                                    View Location
                                </a>
                            </div>
                            <div class="form-group" *ngIf="!isEditable">
                                <a class="btn btn-outline-info my-3 float-left" target="_blank"
                                   [href]="formatAddressHref(listing)">
                                    View Location
                                </a>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <!--Listing pictures panel-->
                    <ngb-panel title="Listing Pictures" id="listing-pictures-panel"
                               *ngIf="(getListingPictures().length > 0 || isEditable) && isWindowWidthSmallerThanDesktop()">
                        <ng-template ngbPanelContent>
                            <ng-container [ngTemplateOutlet]="imageSlideshow"></ng-container>
                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
            </form>
        </div>

        <!--End form box-->
        <div class="col-md-6 pictures-box" *ngIf="!isWindowWidthSmallerThanDesktop()">
            <ng-container [ngTemplateOutlet]="imageSlideshow"></ng-container>
        </div>
        <!--End row-->
    </div>
</div>
<div class="modal-footer">
    <div *ngIf="isEditable">
        <button type="button" class="genric-btn danger radius mx-1"
                [disabled]="shouldSubmitButtonBeDisabled()"
                (click)="onSubmitClick()">
            Submit
        </button>
        <button type="button" class="genric-btn success radius mx-1"
                [disabled]="shouldRevertButtonBeDisabled()"
                (click)="onRevertClick()">
            Revert
        </button>
    </div>
    <div *ngIf="!isEditable">
        <button type="button" class="genric-btn info radius mx-1" (click)="activeModal.dismiss('dismiss')">
            Close
        </button>
    </div>
</div>
