.amenities-list {
    margin: 0px 0px 5px 10px;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

::ng-deep .price-range-slider .ng5-slider .ng5-slider-selection,
::ng-deep .price-range-slider .ng5-slider .ng5-slider-pointer {
    background-color: red !important;
}

.search-row {
    height: 715px;
}
