<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center search-row">
            <div class="banner-content col-lg-12 col-md-12">
                <h1 class="text-uppercase">
                    Subboard, Inc. Off Campus Housing
                </h1>
                <div class="search-field">
                    <form class="search-form" action="#">
                        <div class="row">
                            <div class="col-lg-12 d-flex align-items-center justify-content-center toggle-wrap">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="search-title">Search Properties</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="location" class="app-select form-control"
                                        (change)="populateUserSelection('area', $event.target.value)" required>
                                    <option data-display="Choose locations">Choose locations</option>
                                    <ng-container *ngFor="let area of options?.areas">
                                        <option [value]="area.postalCode">{{ area.name }}
                                            - {{ area.postalCode }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-3">
                                <select name="property-type" class="app-select form-control"
                                        (change)="populateUserSelection('unitType', $event.target.value)" required>
                                    <option data-display="Property Type">Property Type</option>
                                    <ng-container *ngFor="let unitType of options?.unitTypes">
                                        <option [value]="unitType.unitTypeId">{{ unitType.unitTypeName }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-3">
                                <select name="bedroom" class="app-select form-control"
                                        (change)="populateUserSelection('bedrooms', $event.target.value)" required>
                                    <option data-display="Bedrooms">Bedrooms</option>
                                    <ng-container *ngFor="let numBedrooms of bedroomsRange">
                                        <option [value]="numBedrooms">{{ numBedrooms }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div ngbDropdown class="col-3 d-inline-block" autoClose="outside">
                                <button class="genric-btn danger-border radius" id="amenitiesDropdown" ngbDropdownToggle>Select
                                    Amenities
                                </button>
                                <div ngbDropdownMenu aria-labelledby="amenitiesDropdown">
                                    <ol class="amenities-list">
                                        <li *ngFor="let am of options?.amenities">
                                            <input type="checkbox"
                                                   (change)="$event.target.checked ? populateUserSelection('amenities', am): removeUserSelection('amenities', am)">
                                            {{ am | titlecase }}
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-4 offset-4 justify-content-center">
                                <p>Price Range</p>
                                <div class="price-range-slider">
                                    <ng5-slider [(value)]="userSelections.priceRange.min"
                                                [(highValue)]="userSelections.priceRange.max"></ng5-slider>
                                </div>
                                <!--<input type="text" [value]="options.rent.min"-->
                                <!--(change)="populateUserSelection('rent', $event.target.value)" name="rent"/>-->
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button class="genric-btn danger circle arrow mt-50" style="height: 45px;" (click)="onSearchClick()">Search
                                    Properties<span class="lnr lnr-arrow-right"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
